.box {
    height: 100%;
    border: solid #3d3d3d;
}

Vertical {
    height: 100%;
}

#vault {
    height: 1fr;
}

Horizontal {
    height: 1fr;
}

#command_panel {
    width: 1fr;
    border: solid #3d3d3d;
}

#entry_panel {
    width: 1fr;
    border: solid #3d3d3d;
}